<% if @board %>
  <div class="d-flex">
    <div class="d-flex flex-column gap-3 limited-width">
      <p>Name: <%= @board.name %></p>
      <p>Email: <%= @board.email %></p>
      <p>Height: <%= @board.height %></p>
      <p>Width: <%= @board.width %></p>
      <p>No. of mines: <%= @board.mines_number %></p>
      <p>Representation: <%= get_board_technical_representation(@board) %></p>
    </div>

    <div class="minefield-container">
      <%= render 'minefield' %>
    </div>
  </div>
<% end %>








