<% if @board %>
  <% representation = get_board_technical_representation(@board) %>
  <div class="d-flex">
    <div class="d-flex flex-column gap-3 limited-width">
      <p>Name: <%= @board.name %></p>
      <p>Email: <%= @board.email %></p>
      <p>Height: <%= @board.height %></p>
      <p>Width: <%= @board.width %></p>
      <p>No. of mines: <%= @board.mines_number %></p>
      <p>Representation: <%= representation %></p>
    </div>

    <div class="minefield-container">
      <table style="border: 1px solid black;">
        <% representation.each do |row| %>
          <tr>
            <% row.each do |cell| %>
              <td style="border: 1px solid black; padding: 10px;">
                <%= get_cell_value(cell) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>








